pnpm-lock.yaml linguist-generated=true -diff
lib/**/*.js linguist-generated=true -diff
lib/**/*.d.ts linguist-generated=true -diff
near-contract-standards/lib/**/*.js linguist-generated=true -diff
near-contract-standards/lib/**/*.d.ts linguist-generated=true -diff
