/quickjs/.obj
/quickjs/qjsc
/quickjs/qjs
/quickjs/hello.js
/quickjs/hello.wasm
/quickjs/hello.c
/quickjs/hello_module.c
/quickjs/qjscalc.c
/quickjs/repl.c

node_modules
build
/vendor
code.h
methods.h
hello_near.wasm
counter.wasm
nft.wasm
bignum.wasm
near_tests.wasm
errors.wasm
jsvm.wasm
*.base64
jsvm_nightly.wasm
jsvm_nightly_sandbox.wasm
jsvm_sandbox.wasm

.vscode