name: Unit tests
on: push
jobs:
  unit-tests:
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: setup for standalone
        run: ./setup.sh
      - name: Install modules
        run: yarn
      - name: Install test modules
        run: cd tests && yarn && cd ../jsvm/tests && yarn
      - name: Run tests
        run: yarn test
